{% extends 'base.html' %}

{% block title %}Password reset sent{% endblock %}

{% block content %}
<style>
    .container-fluid {
        display: flex;
        justify-content: center;
        align-items: center;
        height: -200em;
    }

    .card {
        background-color: transparent; 
        border: none; 
        backdrop-filter: blur(10px);
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .card-header,
    .card-body,
    .card-footer {
        padding: 10px;
    }

    .card-footer {
        border-top: none;
    }

    .btn-outline-secondary {
        color: #495057;
        background-color: transparent;
        border-color: #6c757d;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <br><br><br>
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center" style="color:white"> Password reset sent</h3>
                </div>
                <div class="card-body">
                    <p class="text-center" style="color: white">We've emailed you instructions for setting your password.</p>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'home' %}" class="btn btn-outline-secondary" style="color: white">Go to home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
