{% extends 'base.html' %}

{% block title %}Movement instruction{% endblock %}

{% block content %}
    <div id="clean">
    <div id="clean">
        <h1> Clean </h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Ty14ogq_Vok?si=ixZFKBsopyZsMU_e"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div id="clean">
        <h1> Power Clean </h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KwYJTpQ_x5A?si=0HwaYU5LOXOWZbzZ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
{% endblock %}
