{% extends 'base.html' %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1>Welcome to Our CrossFit Community</h1>
                <p>CrossFit is a high-intensity fitness program that incorporates elements from various disciplines,
                    including weightlifting, gymnastics, and cardiovascular training. It focuses on functional movements
                    performed at high intensity, with workouts constantly varied to challenge participants and promote
                    overall fitness.</p>
                <p>At our CrossFit gym, we embrace the community aspect of the sport, fostering an environment where
                    individuals of all fitness levels come together to support and motivate each other in achieving
                    their fitness goals. Whether you're a seasoned athlete or just starting your fitness journey,
                    there's a place for you here.</p>
            </div>
{#                    <div class="col-md-6 d-flex justify-content-center">#}
{#                        <img src="{% static 'wallpaper.jpg' %}" alt="wallpaper" style="max-width: 100%; height: auto; justify-content: space-around">#}
{#                    </div>#}
        </div>
    </div>
{% endblock %}

