{% extends 'base.html' %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block content %}

    <div class="container container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 style="margin-bottom: 0.7em; font-size: 5rem; color:white; text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;">Welcome to Our CrossFit Community</h1>
                <p style="margin-bottom: 2em; font-size: 1.6rem; font-weight: bold; color: white; text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;">CrossFit is a high-intensity fitness program that incorporates elements from various disciplines,
                    including weightlifting, gymnastics, and cardiovascular training. It focuses on functional movements
                    performed at high intensity, with workouts constantly varied to challenge participants and promote
                    overall fitness.</p>
            </div>
    </div>
    </div>
{% endblock %}

