{% extends 'base.html' %}


{% block title %}My Profile{% endblock %}

{% block content %}
<div class="card-body">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card" style="background: #fff">
                <div class="card-header">MY PROFILE</div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Name:</strong> {{ profile.first_name }} {{ profile.last_name }}</li>
                        <li class="list-group-item"><strong>Age:</strong> {{ profile.age }}</li>
                        <li class="list-group-item"><strong>Gender:</strong> {{ profile.gender }}</li>
                        <li class="list-group-item"><strong>Height:</strong> {{ profile.height }} cm</li>
                        <li class="list-group-item"><strong>Weight:</strong> {{ profile.weight }} kg</li>
                    </ul>
                    <a class="nav-link" href="{% url 'profile-update' pk=request.user.pk %}">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

