{% extends 'base.html' %}

{% block title %}Movement instruction{% endblock %}

{% block content %}
    <div id="snatch">
        <h1> Snatch </h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GhxhiehJcQY?si=-kk1sOiHrGpQVc7Y"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div id="snatch">
        <h1> Power Snatch </h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TL8SMp7RdXQ?si=dyQJo-xBg1EdhF1S"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
{% endblock %}